/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
li > a.nav-hover{
  background: none !important;
}
.foto {
background-size: cover !important;
width: 100%;
background-position: center center;
margin-top: 56px;
}

li > a.nav-hover:hover{
  background: #000 !important;
  color: #fff !important;
  text-decoration: none !important;
}
.readmore:hover{
  transform: ease 500ms all  !important ;
  background: #fff !important; 
  color: #000;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: black;
  
  
}
.active{
  text-decoration: underline;
}
  .parallax-container .section {
    width: 100%;
    
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}